<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Sports</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link active" href="/games" routerLink="/games" >View Game Schedule </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teams" routerLink="/teams">View Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tickets" routerLink="/tickets">Buy Tickets</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
  <p>teams works!</p>
  </div>