<div class="text-primary bg-light">Game Schedule</div>
<table class="table table-bordered  table-striped">
    <thead class="table-danger">
        <tr>
            <th>#</th>
            <th>Game</th>
            <th>Date</th>
            <th>Time</th>
            <th>Venue</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Soccer</td>
            <td>2024-12-15</td>
            <td>4:00 PM</td>
            <td>City Stadium</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Basketball</td>
            <td>2024-12-16</td>
            <td>6:00 PM</td>
            <td>Sports Complex</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Cricket</td>
            <td>2024-12-12</td>
            <td>3:00 PM</td>
            <td>Perth</td>
        </tr>
    </tbody>
</table>